
.ipynb_checkpoints/week2_세션과제-checkpoint.ipynb
과제/.ipynb_checkpoints/100_Numpy_exercises-checkpoint.ipynb
과제/generators.py
과제/initialise.py
.ipynb_checkpoints/0315스터디-checkpoint.ipynb
과제/.ipynb_checkpoints/week2_1_100_Numpy_exercises-checkpoint.ipynb
과제/.ipynb_checkpoints/week3_1_Occupation_Exercise-checkpoint.ipynb
.ipynb_checkpoints/0402세션자료-checkpoint.ipynb
.ipynb_checkpoints/0329스터디-checkpoint.ipynb
과제/.ipynb_checkpoints/week4_1미니프로젝트-checkpoint.ipynb
과제/.ipynb_checkpoints/week4_1미니프로젝트-checkpoint.ipynb
과제/.ipynb_checkpoints/week5_1Apple_Stock_Exercises-checkpoint.ipynb
과제/.ipynb_checkpoints/week4_1미니프로젝트-checkpoint.ipynb
과제/appl_1980_2014.csv
과제/.ipynb_checkpoints/week4_1미니프로젝트-checkpoint.ipynb
과제/.ipynb_checkpoints/week4_1미니프로젝트-checkpoint.ipynb
과제/.ipynb_checkpoints/week4_1미니프로젝트-checkpoint.ipynb
과제/.ipynb_checkpoints/week6_1_pymldg_ch6-2-checkpoint.ipynb
과제/.ipynb_checkpoints/week6_파이썬머신러닝완벽가이드_ch2-checkpoint.ipynb
과제/파이썬머신러닝완벽가이드/.ipynb_checkpoints/ch4_1~4-checkpoint.ipynb
과제/파이썬머신러닝완벽가이드/.ipynb_checkpoints/ch4_5~7-checkpoint.ipynb
과제/파이썬머신러닝완벽가이드/.ipynb_checkpoints/ch5_1~5-checkpoint.ipynb
과제/파이썬머신러닝완벽가이드/.ipynb_checkpoints/week6_파이썬머신러닝완벽가이드_ch2-checkpoint.ipynb
과제/파이썬머신러닝완벽가이드/.ipynb_checkpoints/파이썬머신러닝완벽가이드_ch3-checkpoint.ipynb
과제/파이썬머신러닝완벽가이드/.ipynb_checkpoints/chap5_9~10-checkpoint.ipynb
과제/.ipynb_checkpoints/파이썬머신러닝완벽가이드_ch3-checkpoint.ipynb
과제/data/initialise.py
과제/data/generators.py
과제/data/titanic_train.csv
과제/pymldg/data/titanic_train.csv
과제/pymldg/data/Online Retail.xlsx
과제/pymldg/data/human_activity/train/y_train.txt
과제/pymldg/data/human_activity/train/X_train.txt
과제/pymldg/.ipynb_checkpoints/ch4_1~4-checkpoint.ipynb
과제/pymldg/.ipynb_checkpoints/ch4_5~7-checkpoint.ipynb
과제/pymldg/.ipynb_checkpoints/ch5_1~5-checkpoint.ipynb
과제/pymldg/.ipynb_checkpoints/chap5_9~10-checkpoint.ipynb
과제/pymldg/.ipynb_checkpoints/chap6_1~5-checkpoint.ipynb
과제/pymldg/.ipynb_checkpoints/chap7_1~5-checkpoint.ipynb
과제/pymldg/.ipynb_checkpoints/chap7_6-checkpoint.ipynb
과제/pymldg/.ipynb_checkpoints/week6_파이썬머신러닝완벽가이드_ch2-checkpoint.ipynb
과제/pymldg/.ipynb_checkpoints/파이썬머신러닝완벽가이드_ch3-checkpoint.ipynb
과제/pymldg/data/archive.zip
과제/pymldg/data/bike_train.csv
과제/pymldg/data/credit_card.xls
과제/pymldg/data/diabetes.csv
과제/pymldg/data/house_price.csv
과제/pymldg/data/human_activity/activity_labels.txt
과제/pymldg/data/human_activity/features.txt
*.txt
pytorch_study/.ipynb_checkpoints/Part1-checkpoint.ipynb
