
.ipynb_checkpoints/week2_세션과제-checkpoint.ipynb
과제/.ipynb_checkpoints/100_Numpy_exercises-checkpoint.ipynb
과제/generators.py
과제/initialise.py
.ipynb_checkpoints/0315스터디-checkpoint.ipynb
과제/.ipynb_checkpoints/week2_1_100_Numpy_exercises-checkpoint.ipynb
과제/.ipynb_checkpoints/week3_1_Occupation_Exercise-checkpoint.ipynb
.ipynb_checkpoints/0402세션자료-checkpoint.ipynb
.ipynb_checkpoints/0329스터디-checkpoint.ipynb
과제/.ipynb_checkpoints/week4_1미니프로젝트-checkpoint.ipynb
과제/.ipynb_checkpoints/week4_1미니프로젝트-checkpoint.ipynb
과제/.ipynb_checkpoints/week5_1Apple_Stock_Exercises-checkpoint.ipynb
과제/.ipynb_checkpoints/week4_1미니프로젝트-checkpoint.ipynb
과제/appl_1980_2014.csv
